# History files
.Rhistory

# Session Data files
.RData
.DS_Store

data/train_set/
doc/test.R
output/fit_train_gbm.RData
output/fit_train_svm.RData
output/pcaCalc.RData
output/res_cv_svm.RData
.Rproj.user
